src/main/default/flows/JBSystemFlow_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj5293b2454daf6c85584eb143ee226ab7_FireJBTrigger</name>
        <label>SalesforceObj5293b2454daf6c85584eb143ee226ab7_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId&quot;,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj5293b2454daf6c85584eb143ee226ab7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>110004911</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;Renta__pc&quot;,&quot;PersonEmail&quot;,&quot;Empleador__pc&quot;,&quot;Contact_ID__pc&quot;,&quot;PersonContactId&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;N__c&quot;,&quot;ContactId&quot;,&quot;ContractId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Owner.Contact&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Owner:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Renta__c&quot;,&quot;FirstName&quot;,&quot;Empleador__c&quot;,&quot;Contact_ID__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj5293b2454daf6c85584eb143ee226ab7</name>
        <label>JB_Decision_Null_Check_SalesforceObj5293b2454daf6c85584eb143ee226ab7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj5293b2454daf6c85584eb143ee226ab7_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj5293b2454daf6c85584eb143ee226ab7_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj5293b2454daf6c85584eb143ee226ab7_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj5293b2454daf6c85584eb143ee226ab7_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj5293b2454daf6c85584eb143ee226ab7_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj5293b2454daf6c85584eb143ee226ab7_Decision</name>
        <label>JB_SalesforceObj5293b2454daf6c85584eb143ee226ab7_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj5293b2454daf6c85584eb143ee226ab7</name>
            <conditionLogic>( (1 AND  ( ( (2 OR 3)  AND  ( (4 OR 5)  OR 6) )  AND  (7 OR 8) ) )  And  ( ( (9 AND 10)  OR  (11 AND 12) )  OR  (13 AND 14) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Importadora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>79649140K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Importadora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>829957000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.N__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>-10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.N__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>-9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.N__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>-2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada ganada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada perdida</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Owner.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Owner.Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>rferraris2011@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Owner.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Owner.Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>osquibarra@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Owner.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Owner.Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>anaclara_j@hotmail.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj5293b2454daf6c85584eb143ee226ab7_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj5293b2454daf6c85584eb143ee226ab7</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj5293b2454daf6c85584eb143ee226ab7_State_change_Decision</name>
        <label>JB_SalesforceObj5293b2454daf6c85584eb143ee226ab7_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj5293b2454daf6c85584eb143ee226ab7</name>
            <conditionLogic>NOT  (1 AND  ( ( (2 OR 3)  AND  ( (4 OR 5)  OR 6) )  AND  (7 OR 8) ) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Importadora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>79649140K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Importadora__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>829957000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.N__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>-10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.N__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>-9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.N__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>-2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada ganada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada perdida</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj5293b2454daf6c85584eb143ee226ab7_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj5293b2454daf6c85584eb143ee226ab7</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Opportunity</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj5293b2454daf6c85584eb143ee226ab7</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
