src/main/default/flows/JBSystemFlow_Lead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj1284b552dd62e7a540bb3cdc693f7938_FireJBTrigger</name>
        <label>SalesforceObj1284b552dd62e7a540bb3cdc693f7938_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj1284b552dd62e7a540bb3cdc693f7938</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>110004911</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;rut__c&quot;,&quot;Status&quot;,&quot;LastName&quot;,&quot;terms__c&quot;,&quot;engine__c&quot;,&quot;FirstName&quot;,&quot;channel__c&quot;,&quot;LeadSource&quot;,&quot;Lead_ID__c&quot;,&quot;MobilePhone&quot;,&quot;carPrice__c&quot;,&quot;channelId__c&quot;,&quot;downPayment__c&quot;,&quot;vehicleType__c&quot;,&quot;monthlyPayment__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Tipo_de_Producto__c&quot;,&quot;evaluationResult__c&quot;,&quot;carBrandDescription__c&quot;,&quot;downPaymentPercentage__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj3d1fd622e0202c9371447ea447a0f2a4_FireJBTrigger</name>
        <label>SalesforceObj3d1fd622e0202c9371447ea447a0f2a4_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1284b552dd62e7a540bb3cdc693f7938</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1284b552dd62e7a540bb3cdc693f7938</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj3d1fd622e0202c9371447ea447a0f2a4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>110004911</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Status&quot;,&quot;LastName&quot;,&quot;terms__c&quot;,&quot;income__c&quot;,&quot;FirstName&quot;,&quot;channel__c&quot;,&quot;Lead_ID__c&quot;,&quot;carPrice__c&quot;,&quot;channelId__c&quot;,&quot;vehicleType__c&quot;,&quot;downPayment__c&quot;,&quot;documentos_url__c&quot;,&quot;formulario_url__c&quot;,&quot;monthlyPayment__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;evaluationResult__c&quot;,&quot;carBrandDescription__c&quot;,&quot;Estado_de_Evaluaci_n_Motor__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj45e437d04f6eb7d69e240f48963a208d_FireJBTrigger</name>
        <label>SalesforceObj45e437d04f6eb7d69e240f48963a208d_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3d1fd622e0202c9371447ea447a0f2a4</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3d1fd622e0202c9371447ea447a0f2a4</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj45e437d04f6eb7d69e240f48963a208d</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>110004911</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;income__c&quot;,&quot;Lead_ID__c&quot;,&quot;channel__c&quot;,&quot;carPrice__c&quot;,&quot;downPayment__c&quot;,&quot;vehicleType__c&quot;,&quot;documentos_url__c&quot;,&quot;formulario_url__c&quot;,&quot;monthlyPayment__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;carBrandDescription__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4_FireJBTrigger</name>
        <label>SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj45e437d04f6eb7d69e240f48963a208d</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj45e437d04f6eb7d69e240f48963a208d</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>110004911</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;channel__c&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj97102757e7273708e6a38cb2919e1f42_FireJBTrigger</name>
        <label>SalesforceObj97102757e7273708e6a38cb2919e1f42_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj97102757e7273708e6a38cb2919e1f42</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>110004911</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Status&quot;,&quot;LastName&quot;,&quot;terms__c&quot;,&quot;income__c&quot;,&quot;FirstName&quot;,&quot;channel__c&quot;,&quot;Lead_ID__c&quot;,&quot;carPrice__c&quot;,&quot;channelId__c&quot;,&quot;vehicleType__c&quot;,&quot;downPayment__c&quot;,&quot;documentos_url__c&quot;,&quot;formulario_url__c&quot;,&quot;monthlyPayment__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;evaluationResult__c&quot;,&quot;carBrandDescription__c&quot;,&quot;Estado_de_Evaluaci_n_Motor__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf_FireJBTrigger</name>
        <label>SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>110004911</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Status&quot;,&quot;FirstName&quot;,&quot;status__c&quot;,&quot;Lead_ID__c&quot;,&quot;channel__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;evaluationResult__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj1284b552dd62e7a540bb3cdc693f7938</name>
        <label>JB_Decision_Null_Check_SalesforceObj1284b552dd62e7a540bb3cdc693f7938</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj1284b552dd62e7a540bb3cdc693f7938_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1284b552dd62e7a540bb3cdc693f7938_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1284b552dd62e7a540bb3cdc693f7938_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj3d1fd622e0202c9371447ea447a0f2a4</name>
        <label>JB_Decision_Null_Check_SalesforceObj3d1fd622e0202c9371447ea447a0f2a4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1284b552dd62e7a540bb3cdc693f7938</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj3d1fd622e0202c9371447ea447a0f2a4_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3d1fd622e0202c9371447ea447a0f2a4_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj3d1fd622e0202c9371447ea447a0f2a4_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj45e437d04f6eb7d69e240f48963a208d</name>
        <label>JB_Decision_Null_Check_SalesforceObj45e437d04f6eb7d69e240f48963a208d</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3d1fd622e0202c9371447ea447a0f2a4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj45e437d04f6eb7d69e240f48963a208d_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj45e437d04f6eb7d69e240f48963a208d_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj45e437d04f6eb7d69e240f48963a208d_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4</name>
        <label>JB_Decision_Null_Check_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj45e437d04f6eb7d69e240f48963a208d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj97102757e7273708e6a38cb2919e1f42</name>
        <label>JB_Decision_Null_Check_SalesforceObj97102757e7273708e6a38cb2919e1f42</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj97102757e7273708e6a38cb2919e1f42_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj97102757e7273708e6a38cb2919e1f42_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj97102757e7273708e6a38cb2919e1f42_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf</name>
        <label>JB_Decision_Null_Check_SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1284b552dd62e7a540bb3cdc693f7938_Decision</name>
        <label>JB_SalesforceObj1284b552dd62e7a540bb3cdc693f7938_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj1284b552dd62e7a540bb3cdc693f7938</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj1284b552dd62e7a540bb3cdc693f7938_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj1284b552dd62e7a540bb3cdc693f7938</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj3d1fd622e0202c9371447ea447a0f2a4_Decision</name>
        <label>JB_SalesforceObj3d1fd622e0202c9371447ea447a0f2a4_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1284b552dd62e7a540bb3cdc693f7938</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj3d1fd622e0202c9371447ea447a0f2a4</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj3d1fd622e0202c9371447ea447a0f2a4_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj3d1fd622e0202c9371447ea447a0f2a4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj45e437d04f6eb7d69e240f48963a208d_Decision</name>
        <label>JB_SalesforceObj45e437d04f6eb7d69e240f48963a208d_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3d1fd622e0202c9371447ea447a0f2a4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj45e437d04f6eb7d69e240f48963a208d</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.segundo_formulario_ok__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>amicar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj45e437d04f6eb7d69e240f48963a208d_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj45e437d04f6eb7d69e240f48963a208d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj45e437d04f6eb7d69e240f48963a208d_State_change_Decision</name>
        <label>JB_SalesforceObj45e437d04f6eb7d69e240f48963a208d_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3d1fd622e0202c9371447ea447a0f2a4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj45e437d04f6eb7d69e240f48963a208d</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.segundo_formulario_ok__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>amicar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj45e437d04f6eb7d69e240f48963a208d_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj45e437d04f6eb7d69e240f48963a208d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4_Decision</name>
        <label>JB_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj45e437d04f6eb7d69e240f48963a208d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.documentacion_ok__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>amicar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4_State_change_Decision</name>
        <label>JB_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj45e437d04f6eb7d69e240f48963a208d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.documentacion_ok__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>amicar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj97102757e7273708e6a38cb2919e1f42_Decision</name>
        <label>JB_SalesforceObj97102757e7273708e6a38cb2919e1f42_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj97102757e7273708e6a38cb2919e1f42</name>
            <conditionLogic>( (1 AND 2)  AND  (3 OR 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Respuesta_EF_OK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>amicar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospección</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluación</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj97102757e7273708e6a38cb2919e1f42_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj97102757e7273708e6a38cb2919e1f42</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj97102757e7273708e6a38cb2919e1f42_State_change_Decision</name>
        <label>JB_SalesforceObj97102757e7273708e6a38cb2919e1f42_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8db1ba67e6e5e334dad92a7fa26644d4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj97102757e7273708e6a38cb2919e1f42</name>
            <conditionLogic>NOT  ( (1 AND 2)  AND  (3 OR 4) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Respuesta_EF_OK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>amicar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospección</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluación</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj97102757e7273708e6a38cb2919e1f42_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj97102757e7273708e6a38cb2919e1f42</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf_Decision</name>
        <label>JB_SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf</name>
            <conditionLogic>(1 AND  (2 OR 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado en Validación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>amicar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Destacame</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf_State_change_Decision</name>
        <label>JB_SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf</name>
            <conditionLogic>NOT  (1 AND  (2 OR 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado en Validación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>amicar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Destacame</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObja160165476f0f8ffd7f3a79a6cb1a7bf</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj97102757e7273708e6a38cb2919e1f42</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
